<div id="<%= dom_id student %>">
  <div>
    <strong>Name:</strong>
    <%= student.name %>
  </div>

  <div>
    <strong>Email:</strong>
    <%= student.email %>
  </div>

  <div>
    <strong>Age:</strong>
    <%= student.age %>
  </div>

</div>
