
body {
  font-family: "Segoe UI", sans-serif;
  background: #f5f7fb;
  margin: 0;
  padding: 0;
}

/* Navbar */
.navbar {
  background: #4f46e5;
  padding: 16px 32px;
  color: white;
  font-size: 20px;
  font-weight: bold;
}

/* Page container */
.container {
  max-width: 1000px;
  margin: 40px auto;
  background: white;
  padding: 30px;
  border-radius: 12px;
  box-shadow: 0 10px 25px rgba(0,0,0,0.08);
}

/* Table */
.table {
  width: 100%;
  border-collapse: collapse;
}

.table th {
  background: #f3f4f6;
  text-align: left;
  padding: 12px;
}

.table td {
  padding: 12px;
  border-top: 1px solid #eee;
}

.table tr:hover {
  background: #f9fafb;
}

/* Buttons */
.btn {
  padding: 8px 14px;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  font-size: 14px;
  text-decoration: none;
}

.btn-primary {
  background: #4f46e5;
  color: white;
}

.btn-warning {
  background: #f59e0b;
  color: white;
}

.btn-danger {
  background: #ef4444;
  color: white;
}

.btn-secondary {
  background: #6b7280;
  color: white;
}


.form-container {
  max-width: 500px;
  margin-top: 20px;
}

.page-center {
  display: flex;
  justify-content: center;
  margin-top: 60px;
}

.card {
  background: white;
  padding: 30px 40px;
  width: 420px;
  border-radius: 14px;
  box-shadow: 0 20px 40px rgba(0,0,0,0.1);
}

.card h2 {
  margin-bottom: 6px;
}

.subtitle {
  color: #6b7280;
  margin-bottom: 25px;
}

.w-full {
  width: 100%;
}

.form-group input {
  border: 1px solid #e5e7eb;
  border-radius: 8px;
  padding: 12px;
  font-size: 15px;
  outline: none;
  transition: 0.2s;
}

.form-group input:focus {
  border-color: #4f46e5;
  box-shadow: 0 0 0 2px rgba(79,70,229,0.2);
}

.error-box {
  background: #fee2e2;
  color: #b91c1c;
  padding: 10px;
  border-radius: 8px;
  margin-bottom: 15px;
}
